<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header card-header-danger bg-laranja">
            <h4 class="card-title">Configurar contas</h4>
            <p class="card-category"></p>
          </div>
          <div class="card-body mt-3">
            <form [formGroup]="form">
              <div class="row"></div>

              <div class="row"></div>

              <button
                mat-raised-button
                class="btn btn-danger bg-laranja pull-right mt-5"
                (click)="this.salvar()"
                [disabled]="this.form.invalid || this.carregando"
              >
                {{ this.carregando ? this.textoCarregando : "Salvar" }}
              </button>
              <div class="clearfix"></div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
