<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header card-header-danger bg-laranja-evertec">
            <h4 class="card-title">Sincronizar board</h4>
            <p class="card-category"></p>
          </div>
          <div class="card-body mt-5">
            <div>
              <div class="row">
                <div class="table-responsive" *ngIf="this.sincronizarDTO?.id">
                  <table class="table">
                    <thead class="text-primary">
                      <th>#</th>
                      <th>Data ínicio</th>
                      <th>Status</th>
                      <th>Data Fim</th>
                    </thead>
                    <tbody>
                      <tr>
                        <td>
                          {{ this.sincronizarDTO.id }}
                        </td>
                        <td>{{ this.sincronizarDTO.dataInicio | date : "dd/MM/yyyy HH:mm" }}</td>
                        <td class="text-primary">{{ this.sincronizarDTO.status | SincStatus }}</td>
                        <td>{{ this.sincronizarDTO.dataFim | date : "dd/MM/yyyy HH:mm" }}</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>

              <button
                mat-raised-button
                class="btn btn-danger bg-laranja-evertec pull-right mt-5"
                [disabled]="this.carregando"
                (click)="this.sincronizar()"
              >
                {{ this.carregando ? "Sincronizando" : "Sincronizar" }}
              </button>
              <div class="clearfix"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
